{% extends 'shop/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-3">
                {% include 'shop/repeated_fragments/product_card.html' %}
            </div>
        {% endfor %}
    </div><br>

    <!-- Пагинация  -->
    <div class="row justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; Первый</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Предыдущий</a></li>
                {% endif %}

                <li class="page-item disabled"><span class="page-link">Страница {{ products.number }} из {{ products.paginator.num_pages }}</span></li>

                {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Следующий</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}">Последний &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}