{% extends 'shop/base.html' %}
{% load widget_tweaks %}
<!-- тег шаблона, который используется для загрузки пользовательской библиотеки тегов и фильтров,
предоставляемых приложением `django-widget-tweaks`: можно добавлять, изменять или удалять HTML-атрибуты виджетов формы прямо в шаблоне;.
легко добавлять CSS-классы к виджетам формы для стилизации; управлять отображением ошибок формы и настраивать их внешний вид.
Сначала нужно установить `django-widget-tweaks` через pip. Затем добавить `'widget_tweaks'` в список `INSTALLED_APPS`. -->

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9">  <!-- Ширина колонки - ширина карточки регстрации -->
                <div class="card register-card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Регистрация</h2>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {{ field|add_class:"form-control" }}
                                    {% if field.errors %}
                                        <div class="alert alert-danger">
                                            {{ field.errors|striptags }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary register-button">Зарегистрироваться</button>
                        </form>
                        <p class="mt-3 text-center">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}